XML/datos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nombre" type="xs:string"/>
    <xs:element name="edad">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minExclusive value="18"/>
                <xs:maxExclusive value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="carrera" type="xs:string" />

    <xs:element name="estudiante">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="edad" />
                <xs:element ref="carrera"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="universidad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="estudiante" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>