XML/empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="nombre" type="capital"/>
<xs:element name="apellido" type="capital"/>

    <xs:simpleType name="capital">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][a-zA-Z\s]*"/>
        </xs:restriction>
    </xs:simpleType>

<xs:element name="fechaNacimiento">
    <xs:simpleType>
        <xs:restriction base="xs:date">
            <xs:minInclusive value="1975-01-01"/>
            <xs:maxInclusive value="1999-12-31"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="salario">
    <xs:simpleType>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="10000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="activo" type="xs:boolean"/>

<xs:element name="horaEntrada">
    <xs:simpleType>
        <xs:restriction base="xs:time">
            <xs:minInclusive value="06:00:00"/>
            <xs:maxInclusive value="14:00:00"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="empleado">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="nombre"/>
            <xs:element ref="apellido"/>
            <xs:element ref="fechaNacimiento"/>
            <xs:element ref="salario"/>
            <xs:element ref="activo"/>
            <xs:element ref="horaEntrada"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="empresa">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="empleado" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="nombreEmpresa" type="xs:string" use="required"/>
    </xs:complexType>
</xs:element>

</xs:schema>