XML/productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="nombre">
    <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="precio">
    <xs:simpleType>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="cantidad">
    <xs:simpleType>
        <xs:restriction base="xs:integer"> <!--con base xs:positiveInteger no necesito poner nada en la linea 23 porque positiveInteger excluye a 0 (creo, porque me daba error)-->
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="producto">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="nombre"/>
            <xs:element ref="precio"/>
            <xs:element ref="cantidad"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="tienda">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="producto" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>